{{#extends "base"}}

{{#block "content"}}
<div class="alert alert-primary">
    {{happyMessage}}
    <div>
        <a href="/customers">See All Customers</a>
    </div>
</div>
{{/block}}

{{/extends}}